name: Simple Action

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 24f1001896@ds.study.iitm.ac.in
        run: echo "Hello from GitHub Actions!"
