name: Cache Demo

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: cache-ca5a76f

      - name: prime-cache-ca5a76f
        run: echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"

      - name: Install dependencies
        run: pip install requests
